	<div class="setting">
		<div class="label">
			<label for="blog_title_maxlength"><MT_TRANS phrase="Maximum length of titles (blog preference)">:</label>
		</div>
		<div class="field">
			<input type="text" name="blog_title_maxlength" id="blog_title_maxlength" value="<TMPL_VAR NAME="blog_title_maxlength" ESCAPE=HTML>"><br/>
			<p><MT_TRANS phrase="Limit the maximum length of titles to this number of characters (set to 0 to use the system default value)">.</p>
		</div>
	</div>
